.boldBlueText {
    color: rgb(0, 119, 255);
    font-weight: bold;
}

.marginLeft {
    margin-left: 8px;
}
.Success {
    color: green;
    font-weight: bold;
}

.Error {
    color: red;
    font-weight: bold;
}

.Warning {
    color: orange;
    font-weight: bold;
}

.Default {
    color: black;
}
